# dependencies
node_modules/
bun.lockb
.bun/

# vendor/third-party libraries
public/js/components/
public/js/prism*.js
public/css/prism*.css

# output
dist/
build/
out/
*.tgz

# coverage
coverage/
*.lcov

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
bun-debug.log*
report.[0-9]_[0-9]_[0-9]_[0-9].json

# env files
.env
.env.*
*.env

#database
*.db

# caches
.eslintcache
.cache/
*.tsbuildinfo

# IDEA
.idea/

# macOS
.DS_Store
